/*
 * COLOR KEY:
 * tan:			#FFEFB3
 * dark-tan: 	#B2A46B
 * blueish:		#CCFFFA
 * light-purp:	#CC7BC4
 * dark-purp:	#B274AC 
 */

body {
	background: #FFEFB3;
	font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 15px;
}
h1,h2,h3 {
	clear: left;
	margin-top: 20px;
}
th {
	background-color: #B2A46B;
	/*color: #fff;*/
}

/* clickable stuff */
	button {
		cursor: pointer;
	}

/* positioning & initial visibility */
	th, td {
		padding: 6px;
		text-align: left;
	}
	button {
		border: 2px solid #B2A46B;
		background-color: #FFEFB3;
		color: #B2A46B;
		font-size: 1.3em;
		font-weight: bold;
		margin-right: 5px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	button.active {
		background-color: #B2A46B;
		color: #fff;
	}
	#mocker button {
		float: left;
	}
	label, textarea, input, select {
		float: left;
	}
	#mocker p {
		display: block;
		width: 340px;
		float: left;
		margin-right: 25px;
	}
	#statuscode {
		font-size: 2.8em;
		padding: 6px 3px;
	}
	#rest_body {
		float: left;
		clear: left;
	}
	.bump {
		float: left;
		clear: left;
	}
	#reloader {
		float: right;
	}
	#mock {
		display: none;
	}
	select, input {
		font-size: 1.4em;
		color: #FFFFFF;
		background-color: #B2A46B;
		border: 0 none;
		font-size: 1.2em;
		padding: 4px;
	}
	select, input, textarea {
		width: 100%;
	}
	#content {
		width: 705px;
		font-size: 1em;
	}
	#uri {
		margin-bottom: 8px;
	}

/* client mocking tool */
	#submit_get {
		color: #090;
	}
	#submit_put, #submit_delete {
		color: #009;
	}
	#submit_post {
		color: #900;
	}

/* documentation generation tool */
	#docs {
		display: none;
	}
	#docs table {
		font-size: .8em;
		width: 100%;
	}
	#docs thead td {
		background-color: #B2A46B;
		color: #000;
	}
